--index-url https://pytorch.org
--extra-index-url https://download.pytorch.org/whl/cpu

functions-framework==3.10.2
opencv-python-headless==4.10.0.84
numpy==2.0.0
google-cloud-storage==2.17.0
supabase==2.5.1
pytest==8.2.2
python-dotenv==1.0.1
torch==2.3.1
torchvision==0.18.1
